<% layout('layouts/boilerplate') -%>
<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h1>Create a New Listing</h1>

    <form action="/listings" method="post" novalidate class="needs-validation">
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          class="form-control"
          placeholder="Enter the listing title"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">
          Please provide a title for the listing.
      </div>

     <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea
          id="description"
          name="listing[description]"
          class="form-control"
          placeholder="Write a brief description..."
          rows="4"
          required
        ></textarea>         <div class="invalid-feedback">
          Please provide a description.
          </div>
       

      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image:</label>
        <input
          type="text"
          id="image"
          name="listing[image]"
          class="form-control"
          placeholder="Enter image URL"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price:</label>
          <input
            type="number"
            id="price"
            name="listing[price]"
            class="form-control"
            placeholder="Enter price in INR (₹)"
            required
          />
          <div class="invalid-feedback">Please provide a valid price.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country:</label>
          <input
            type="text"
            id="country"
            name="listing[country]"
            class="form-control"
            placeholder="Enter the country name"
            required
          />
          <div class="invalid-feedback">
            Please provide a valid country name.
          </div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location:</label>
        <input
          type="text"
          id="location"
          name="listing[location]"
          class="form-control"
          placeholder="Enter city or locality"
          required
        />
        <div class="invalid-feedback">
          Please provide a valid location.
          </div>
      </div>
      <br />

      <div>
        <button type="submit" class="btn btn-dark add-btn">
          Create Listing
        </button>
      </div>
      <br /><br />
    </form>
  </div>
</div>
